__pycache__/
*.py[cod]
*$py.class
*.so
*.sup
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
lib64
include/
bin/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.DS_Store
*.log
.venv
venv/
ENV/
env/
.vscode/
.idea/
*.swp
*.swo
*~
.env
*.json
episode1.json
episode2.json
pyvenv.cfg
